/***** spacers *****/
$spacer-tiny: 7.5px;
$spacer-15: 15px;
$spacer-small: 25px;
$spacer-medium: 45px;
$spacer-60: 60px;
$spacer-large: 75px;
$spacer-100: 100px;
$spacer-huge: 150px;

/***** font styles *****/
$font-arial: Arial, sans-serif;
$font-georgia: Georgia, serif;
$font-tnr: 'Times New Roman', serif;

/***** font sizes *****/
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
$font-huge: 30px;

/***** box shadows *****/
$box-shadow-map: 0 0 5px rgba(0, 0, 0, 1);
$box-shadow-soft: 0 0 30px rgba(0, 0, 0, 0.10);
$box-shadow-small: 0 0 2.5px rgba(0, 0, 0, 0.15);
$box-shadow-medium: 0 0 5px rgba(0, 0, 0, 0.15);
$box-shadow-large: 0 0 15px rgba(0,0,0,0.15);

/***** colors *****/
$content-width: 100%;
$brand-red: #9d202e;
$brand-blue: #37645b;
$brand-tan: #e6c98f;
$brand-black: #1b161e;
$brand-gray-1: #333333;
$white: #ffffff;

/***** greys *****/
$dark-grey: #181818;
$medium-grey: #303030;
$default-grey: #484848;
$light-grey: #606060;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 15px;
  line-height: 1.533;
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.app__body {
	align-items: stretch;
	display: flex;
	margin-top: calc(4.5rem + 2px);
	min-height: 100vh;
}

.app__right-panel {
	flex-grow: 1;
}

.app__footer {
	border-top: 2px solid $brand-black;
	padding: 1.5rem 1rem 2rem;
	text-align: center;
}

.alert--notice,
.alert--alert {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.c {
	margin: auto;
	max-width: 90%;
}

h1 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-weight: bold;
}
h3 {}
h4 {}
h5 {}

p {}
