.Highlight,
.Highlight__line {
  display: inline-block;
}

.Highlight__line {
  font-size: 1.5rem;
  margin: 0.5em 0;
  position: relative;
}

/*
.Highlight__comment,
.Highlight__translation {
  top: 50%; right: 0;
  max-width: 300px;
  animation: highlight_bubble_in 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 2em 2.5em;
  position: absolute;
  transform: translate(100%, -50%);
  transition: all 0.3s ease;
}

.Highlight__comment {
  background-color: #FFE7DC;
}

.Highlight__translation {
  background-color: #E0FFE7;
}

.Highlight__comment::before,
.Highlight__translation::before {
  width: 0; height: 0;
  top: 50%;
	border-top: 1em solid transparent;
	border-bottom: 1em solid transparent;
  content: '';
  position: absolute;
  transform: translate(-4.5em, -50%);
}

.Highlight__comment::before {
  border-right: 2em solid #FFE7DC;
}

.Highlight__translation::before {
  border-right: 2em solid #E0FFE7;
}

.Highlight__comment--inactive,
.Highlight__translation--inactive {
  opacity: 1;
  z-index: 1;
}

.Highlight__comment--inactive,
.Highlight__translation--inactive {
  opacity: 0;
  z-index: -1;
}
*/

.Highlight__content--active {
  background-color: white;
  width: 40vw; height: 100vh;
  top: 0; right: 0;
  border-left: 1px solid black;
  overflow-y: scroll;
  padding: 100px 0;
  position: fixed;
}

.Highlight__content .Highlight__entry {
  padding: 1em;
}

.Highlight__content .Highlight__entry .Highlight__text {
  font-size: 1rem;
}

.Highlight__content .Highlight__entry:nth-child(even) {
  background-color: #EFEFEF;
}

.Highlight__highlight {
  cursor: pointer;
  background-color: #E0FFE7;
  margin: 0 0.1em;
  transition: background-color 0.3s ease;
}

.Highlight__highlight--active {
  background-color: #728276;
}

.Highlight__highlight--editing {
  background-color: #DAE2FF;
}

.Highlight__close {
  top: 1em; right: 1.5em;
  cursor: pointer;
  opacity: 0.4;
  position: absolute;
}

@keyframes highlight_bubble_in {
  from { opacity: 0; transform: translate(90%, -50%); }
  to { opacity: 1; transform: translate(100%, -50%); }
}
