.Highlight,
.Highlight__line {
  display: inline-block;
}

.Highlight__line {
  font-size: 1.5rem;
  margin: 0.5em 0;
  position: relative;
}

.Highlight__highlight {
  cursor: pointer;
  background-color: #E0FFE7;
  margin: 0 0.1em;
  transition: background-color 0.3s ease;
}

.Highlight__highlight--active {
  background-color: #B3CCB9;
}

.Highlight__highlight--editing {
  background-color: #DAE2FF;
}

.Highlight__close {
  top: 1em; right: 1.5em;
  cursor: pointer;
  opacity: 0.4;
  position: absolute;
}

.Highlight__editing {
  padding: 0 2em;
}

.Highlight__textarea {
  //margin: 2em;
  width: 100%;
}

.Highlight__buttons {
  display: flex;
  width: 100%;
}

.Highlight__buttons .Highlight__button {
  flex-basis: 0;
  flex-grow: 1;
}

.Highlight__list {
  list-style: none;
  padding: 0;
}

.Highlight__entry {
  margin-bottom: 2rem;
}

.Highlight__content {
  padding: 1rem;
}

.Highlight__lemma {
  white-space: pre-line;
}

@keyframes highlight_bubble_in {
  from { opacity: 0; transform: translate(90%, -50%); }
  to { opacity: 1; transform: translate(100%, -50%); }
}
