<nav class="sidebar">
  <ul class="sidebar__nav">
      <li class="sidebar__nav-item">
        <button class="sidebar__nav-button" id="button__activate-dictionary">
          <i class="material-icons">search</i>
        </button>
      </li>
  </ul>
</nav>
<div id='vue-dictionary'>
  <App />
</div>
